<!DOCTYPE html><% var active_page = "packages"; %>
<%- include('snippets/html_head') %>
  <body>
    <%- include('snippets/chromeframe') %>
    <%- include('snippets/navbar', {active_page: active_page, version: version}) %>

    <div class="container">
      <%- include('snippets/alert') %>

      <h3>Packages</h3>
      <dl class="dl-horizontal">
        <dt><a href="/-/packages/local">Local</a></dt><dd><%= local %></dd>
        <dt><a href="/-/packages/proxied">Proxied</a></dt><dd><%= proxied %></dd>
        <dt>Total</dt><dd><%= total %></dd>
      </dl>
    </div>

    <%- include('snippets/js') %>
  </body>
</html>
