<!DOCTYPE html><% var active_page = "results"; %>
<% include snippets/html_head %>
  <body>
    <% include snippets/chromeframe %>
    <% include snippets/navbar %>

    <div id="content" class="container">
      <% include snippets/alert %>

      <ul id="accordion" class="packages accordion">
      <% var packages = Object.keys(registry).sort();
         for (var i = 0; i < packages.length; i++) {
           var idx;
           var pkgName = packages[i];
           var pkg = registry[pkgName];
           var versions = pkg._versions;
           var latest = pkg.versions[pkg["dist-tags"].latest]; %>
         <li class="package panel panel-default">
           <div class="panel-heading">
            <div class="actions btn-group pull-right">
              <a class="btn action-json btn-link btn-xs" href="<%= latest.dist.tarball %>"><span class="glyphicon glyphicon-download-alt"></span> Latest</a>
              <a class="btn action-json btn-link btn-xs" href="/<%= pkgName %>">JSON</a>
            </div>
            <h2 class="panel-title">
              <a href="#<%= pkgName.replace(/\./g, "-") %>-versions" class="panel-toggle<% if (packages.length !== 1) { %> collapsed<% } %>" data-toggle="collapse" data-parent="#accordion">
                <span class="pull-left btn btn-link btn-lg glyphicon glyphicon-collapse-down"></span>
                <span class="pull-left btn btn-link btn-lg glyphicon glyphicon-collapse-up"></span>
                <%= pkgName %>
                <span class="text-muted">@<%= latest.version %></span>
                <div class="tags pull-right">
                  <% if (pkg["_proxied"]) { %><div class="label label-warning">proxied</div><% } %>
                  <% if (pkg["_local"]) { %><div class="label label-success">local</div><% } %>
                </div>
              </a>
            </h2>
           </div>
           <div id="<%= pkgName.replace(/\./g, "-") %>-versions" class="panel-collapse collapse<% if (packages.length === 1) { %> in<% } %>">
             <div class="panel-body">
               <div class="actions btn-group pull-right">
                 <% if (pkg["_proxied"]) { %>
                 <a class="btn btn-sm btn-link action-refresh" onclick="refreshPackage('<%= pkgName %>');" href="#">
                   <span class="glyphicon glyphicon-refresh"></span> Refresh
                 </a><% } %>
                 <a class="btn btn-sm btn-link action-delete" onclick="deletePackage('<%= pkgName %>');" href="#">
                   <span class="glyphicon glyphicon-trash"></span> Delete Package
                 </a>
               </div>
               <div class="details panel-inner">
                 <p class="description lead"><%= pkg.description %></p>
                 <table class="table">
                   <tr><th>Maintainer</th><td><% var prefix = pkg["_local"] ? "/-/user/" : "https://npmjs.org/~"; for (idx = 0; idx < pkg.maintainers.length; idx++) { %><a href="<%= prefix + pkg.maintainers[idx].name %>"><%= pkg.maintainers[idx].name %><% if (pkg["_proxied"]) { %> <span class="glyphicon glyphicon-share"></span><% } %></a> <% }%></td></tr>
                   <% if (pkg.users) { var users = Object.keys(pkg.users).sort(); %><tr><th>Users</th><td><% for (idx = 0; idx < users.length; idx++) { %><%= users[idx] %> <% }%></td></tr><% } %>
                   <% if (pkg.repository) { %><tr><th>Repository</th><td><a href="<%= pkg.repository.href || pkg.repository.url %>"><%= pkg.repository.url %> <span class="glyphicon glyphicon-share"></span></a> (<%= pkg.repository.type %>)</td></tr><% } %>
                   <% if (latest.dependencies) { %><tr><th>Dependencies</th><td><% var deps = Object.keys(latest.dependencies).sort(); for (idx = 0; idx < deps.length; idx++) { %><a href="/?q=<%= deps[idx] %>"><%= deps[idx] %></a> <% } %></td></tr><% } %>
                   <% if (pkg["_dependents"]) {
                      %><tr><th>Dependents</th><td><dl class="dl-horizontal"><%
                    var deps = Object.keys(pkg["_dependents"]).sort();
                    for (idx = 0; idx < deps.length; idx++) {
                      var n = deps[idx];
                      %><dt><a href="/?q=<%= n %>"><%= n %></a></dt><dd><%= pkg["_dependents"][n].version %></dd><%
                    } %></dt></td></tr><%
                   } %>
                   <tr>
                     <th>Versions</th>
                     <td>
                       <ul class="versions list-inline"><%
                              for (var j = 0; j < versions.length; j++) {
                                var vers = versions[j];
                                var cached = false;
                                var pkgUrl;
                                if (pkg.versions[vers].dist) {
                                  pkgUrl = pkg.versions[vers].dist.tarball;
                                  var attachment  = pkgUrl.substr(pkgUrl.lastIndexOf("/") + 1);
                                  cached = pkg["_attachments"][attachment].cached;
                                } else {
                                  vers += " (no dist tag)";
                                }
                                 %>
                          <li class="version">
                            <span class="label <% if (cached) {%><%= pkg["_local"] ? ' label-success' : ' label-warning' %><% } else { %>label-default<% } %>"><%= vers %></span>
                            <!-- span class="label label-success">available</span>
                            <span class="label">not cached</span>
                            <div class="btn-group">
                              <a class="btn btn-sm action-cache" href="/-cache/<%= pkgUrl %>"><span class="glyphicon glyphicon-star"></span> Cache</a>
                              <a class="btn btn-sm action-purge" href="/-purge/<%= pkgUrl %>"><span class="glyphicon glyphicon-eject"></span> Purge</a>
                              <a class="btn btn-sm action-download" href="<%= pkgUrl %>"><span class="glyphicon glyphicon-download-alt"></span> Download</a>
                            </div -->
                          </li>
                          <% } %>
                        </ul>
                     </td>
                    </tr>
                 </table>
                 <% if (pkg._readme) { %><div class="readme"><%- pkg._readme %></div><% } %>
               </div>
               <!-- span class="label label-inverse">proxied</span -->
            </div>
           </div>
         </li>
      <% } %>
      </ul>
    </div>

    <div id="footer" class="navbar navbar-fixed-bottom navbar-default">
      <div class="container">
        <div class="container">
          <p class="result-info">Found <%= count %> package<%= count > 1 ? "s" : "" %> out of <%= total %></p>
        </div>
      </div>
    </div>

    <% include snippets/js %>
    <script>
        function deletePackage(packageName) {
          bootbox.dialog({
            message : "<p class=''>You are going to delete the following package</p>" +
                      "<p class='well'>" + packageName + "</p>" +
                      "<p class=''>and <strong>ALL</strong> its attachments from the registry.</p>" +
                      "<p class=''>Are you really sure?</p>",
            buttons : {
              danger : {
                label     : "Delete Package",
                className : "btn-danger",
                callback  : function() {
                  window.location = "/-delete/" + packageName + "?q=<%= query %>";
                }
              },
              main : {
                label     : "Keep it",
                className : "btn-success"
              }
            }
          });
        }
        function refreshPackage(packageName) {
          window.location = "/-refresh/" + packageName + "?q=<%= query %>";
        }
    </script>
  </body>
</html>
