<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>Abstrakt Node Package Registry and Proxy / <%= title %></title>
    <meta name="description" content="Abstrakt Node Package Registry and Proxy - your npm registry for in-house deployment">
    <meta name="viewport" content="width=device-width">

    <link rel="stylesheet" href="/-/css/bootstrap.min.css">
    <link rel="stylesheet" href="/-/css/bootstrap-responsive.css">
    <link rel="stylesheet" href="/-/css/main.css" />

    <script src="/-/js/vendor/modernizr-2.6.2.min.js"></script>
  </head>
  <body>
    <!--[if lt IE 7]>
        <p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a> to improve your experience.</p>
    <![endif]-->

    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <a class="brand" href="/">NOPAR /<small><%= version %></small></a>
        <ul class="nav">
          <li><a href="/">Packages</a></li>
          <li class="active"><a href="/-/settings"><i class="icon-cog"></i> Settings</a></li>
        </ul>
        <form class="navbar-form pull-right" action="/">
          <div class="input-append">
            <input type="text" name="q" placeholder="Search" value="">
            <button type="submit" class="btn"><i class="icon-search"></i></button>
          </div>
        </form>
      </div>
    </div>

    <div class="container">
      <% if (message) {%>
        <div class="alert alert-success">
          <button type="button" class="close" data-dismiss="alert">&times;</button>
          <%- message %>
        </div>
      <%}%>

      <h3>Settings</h3>
      <form class="form-horizontal" method="POST" action="/-/settings">
        <div class="control-group">
          <label class="control-label" for="settings-registry">Parent Registry</label>
          <div class="controls">
            <input class="span4"
              id="settings-registry"
              name="registry"
              type="text"
              placeholder="<%= defaults.forwarder.registry %>"
              value="<%= settings.forwarder.registry || '' %>" />
            <label class="checkbox">
              <input name="autoForward" type="checkbox" <%= settings.forwarder.autoForward ? 'checked="checked" ' : '' %>value="true" />
              Forward requests
            </label>
          </div>
        </div>
        <div class="control-group">
          <label class="control-label" for="settings-hostname">Hostname</label>
          <div class="controls">
            <input class="span4"
              id="settings-hostname"
              name="hostname"
              type="text"
              placeholder="<%= defaults.hostname %>"
              value="<%= settings.hostname || '' %>" />
          </div>
        </div>
        <div class="control-group">
          <label class="control-label" for="settings-port">Port</label>
          <div class="controls">
            <input class="span2"
              id="settings-port"
              name="port"
              type="text"
              placeholder="<%= defaults.port %>"
              value="<%= settings.port || '' %>" />
          </div>
        </div>
        <div class="control-group">
          <label class="control-label" for="settings-proxy">Proxy</label>
          <div class="controls">
            <input class="span4"
              id="settings-proxy"
              name="proxy"
              type="text"
              placeholder="<%= defaults.forwarder.proxy || '' %>"
              value="<%= settings.forwarder.proxy || '' %>" />
          </div>
        </div>
        <div class="control-group">
          <label class="control-label" for="settings-userAgent">User-Agent</label>
          <div class="controls">
            <input class="span4"
              id="settings-userAgent"
              name="userAgent"
              type="text"
              placeholder="<%= defaults.forwarder.userAgent %>"
              value="<%= settings.forwarder.userAgent || '' %>" />
          </div>
        </div>
        <div class="control-group">
          <div class="controls">
            <button type="submit" class="btn">Save</button>
          </div>
      </form>

    </div>

    <!-- JavaScript includes -->
    <script type="text/javascript"src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
    <script type="text/javascript" >window.jQuery || document.write('<script type="text/javascript" src="/-/js/vendor/jquery-1.8.2.min.js"><\/script>')</script>
    <script type="text/javascript" src="/-/js/bootstrap.min.js"></script>
  </body>
</html>
