<!DOCTYPE html><% var active_page = "settings"; %>
<% include snippets/html_head %>
  <body>
    <% include snippets/chromeframe %>
    <% include snippets/navbar %>

    <div class="container">
      <% include snippets/alert %>

      <h3>Settings</h3>
      <form class="form-horizontal" method="POST" action="/-/settings">
        <div class="control-group">
          <label class="control-label" for="settings-registry">Parent Registry</label>
          <div class="controls">
            <input class="span4"
              id="settings-registry"
              name="registry"
              type="text"
              placeholder="<%= defaults.forwarder.registry %>"
              value="<%= settings.forwarder.registry || '' %>" />
            <label class="checkbox">
              <input name="autoForward" type="checkbox" <%= settings.forwarder.autoForward ? 'checked="checked" ' : '' %>value="true" />
              Forward requests
            </label>
          </div>
        </div>
        <div class="control-group">
          <label class="control-label" for="settings-hostname">Hostname</label>
          <div class="controls">
            <input class="span4"
              id="settings-hostname"
              name="hostname"
              type="text"
              placeholder="<%= defaults.hostname %>"
              value="<%= settings.hostname || '' %>" />
          </div>
        </div>
        <div class="control-group">
          <label class="control-label" for="settings-port">Port</label>
          <div class="controls">
            <input class="span2"
              id="settings-port"
              name="port"
              type="text"
              placeholder="<%= defaults.port %>"
              value="<%= settings.port || '' %>" />
          </div>
        </div>
        <div class="control-group">
          <label class="control-label" for="settings-proxy">Proxy</label>
          <div class="controls">
            <input class="span4"
              id="settings-proxy"
              name="proxy"
              type="text"
              placeholder="<%= defaults.forwarder.proxy || '' %>"
              value="<%= settings.forwarder.proxy || '' %>" />
          </div>
        </div>
        <div class="control-group">
          <label class="control-label" for="settings-userAgent">User-Agent</label>
          <div class="controls">
            <input class="span4"
              id="settings-userAgent"
              name="userAgent"
              type="text"
              placeholder="<%= defaults.forwarder.userAgent %>"
              value="<%= settings.forwarder.userAgent || '' %>" />
          </div>
        </div>
        <div class="control-group">
          <div class="controls">
            <button type="submit" class="btn">Save</button>
          </div>
      </form>

    </div>

    <% include snippets/js %>
  </body>
</html>
