<!DOCTYPE html><% var active_page = "settings"; %>
<%- include('snippets/html_head') %>
  <body>
    <%- include('snippets/chromeframe') %>
    <%- include('snippets/navbar', {active_page: active_page, version: version}) %>

    <div class="container">
      <%- include('snippets/alert') %>

      <h3>Settings</h3>
      <form class="form-horizontal" role="form" method="POST" action="/-/settings">
        <div class="form-group">
          <label class="col-sm-3 control-label" for="settings-registry">Parent Registry</label>
          <div class="col-sm-4 controls">
            <input class="form-control"
              id="settings-registry"
              name="registry"
              type="text"
              placeholder="<%= defaults["forwarder.registry"] %>"
              value="<%= settings.forwarder.registry || '' %>" />
            <div class="checkbox"><label>
              <input name="autoForward" type="checkbox" <%= settings.forwarder.autoForward ? 'checked="checked" ' : '' %>value="true" />
              Forward requests
            </label></div>
            <div class="checkbox"><label>
              <input name="ignoreCert" type="checkbox" <%= settings.forwarder.ignoreCert ? 'checked="checked" ' : '' %>value="true" />
              Ignore invalid SSL certificates
            </label></div>
          </div>
        </div>
        <div class="form-group">
          <label class="col-sm-3 control-label" for="settings-hostname">Hostname</label>
          <div class="col-sm-4 controls">
            <input class="form-control"
              id="settings-hostname"
              name="hostname"
              type="text"
              placeholder="<%= defaults.hostname %>"
              value="<%= settings.hostname || '' %>" />
          </div>
        </div>
        <div class="form-group">
          <label class="col-sm-3 control-label" for="settings-port">Port</label>
          <div class="col-sm-2 controls">
            <input class="form-control"
              id="settings-port"
              name="port"
              type="text"
              placeholder="<%= defaults.port %>"
              value="<%= settings.port || '' %>" />
          </div>
        </div>
        <div class="form-group">
          <label class="col-sm-3 control-label" for="settings-baseUrl">Base URL</label>
          <div class="col-sm-4 controls">
            <input class="form-control"
              id="settings-baseUrl"
              name="baseUrl"
              type="text"
              placeholder="<%= defaults.baseUrl %>"
              value="<%= settings.baseUrl || '' %>" />
          </div>
        </div>
        <div class="form-group">
          <label class="col-sm-3 control-label" for="settings-proxy">Proxy</label>
          <div class="col-sm-4 controls">
            <input class="form-control"
              id="settings-proxy"
              name="proxy"
              type="text"
              placeholder="<%= defaults["forwarder.proxy"] || '' %>"
              value="<%= settings.forwarder.proxy || '' %>" />
          </div>
        </div>
        <div class="form-group">
          <label class="col-sm-3 control-label" for="settings-userAgent">User-Agent</label>
          <div class="col-sm-4 controls">
            <input class="form-control"
              id="settings-userAgent"
              name="userAgent"
              type="text"
              placeholder="<%= defaults["forwarder.userAgent"] %>"
              value="<%= settings.forwarder.userAgent || '' %>" />
          </div>
        </div>
        <div class="form-group">
          <div class="col-sm-offset-3 col-sm-4 controls">
            <button type="submit" class="btn btn-primary">Save</button>
          </div>
      </div></form>

    </div>

    <%- include('snippets/js') %>
  </body>
</html>
